/* mobile style start */
@media (max-width:990px) {
    .navigetion{
        position: fixed;
        top: 20px;
        right: 20px;
        height: 20px;
        width: 250px;
        z-index: 100;
    }
    .toggle{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background:#138496;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color:#fff;
        padding: 5px 20px ;

    }
    .toggle::before{
    content:'Menu';
    margin-right: 10px;
    }
    .toggle.active::before{
        content:'Close';
    }
    .toggle span{
        position: relative;
        width: 20px;
        height: 50px;
    }
    .toggle span::before{
        content: '';
        position: absolute;
        top: 20px;
        left:0;
        width:100%;
        height: 2px;
        background: #ff216d;
        transition: 0.5s;
    }
    .toggle span::after{
        content: '';
        position: absolute;
        bottom: 20px;
        left:0;
        width:100%;
        height: 2px;
        background: #ff216d;
        transition: 0.5s;
    }
    .toggle.active span::before{
        transform: rotate(225deg);
        top:24px
    }
    .toggle.active span::after{
        transform: rotate(135deg);
        bottom:24px;
    }
    ul{
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: column;

    }
    ul li{
        position: relative;
        list-style: none;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        transform: translateX(-250px);
        transition-delay: calc(0.1s * var(--i));
    }
    .navigetion.active ul li{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    }
    ul li a{
        position: relative;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        height: 50px;
        background: #138496;
        color:#fff;
        transition: 0.5s;
    }
    ul li a:hover{
        background: #f6f6f6;
        color:#ff216d;
        transition: 0s;
        margin-left: 12px;

    }
}
/* mobile style End */
/* desktop style start */
@media (min-width:991px) {
        
    .navigetion ul{
        display: flex;
        
    }
    .navigetion ul li{  
        list-style: none;
    }
    .navigetion ul li a{
        color:white;
        font-size: 20px;
        margin: 15px;
    
    }

}
/* desktop style end */